## Libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## URL

In [2]:
url ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=2&pinId=110001'
url_cars ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=&pinId='

In [3]:
city_id1 = ['2','2378','4709','134','1692','1771','135','2987','1822','769','5732','6105',
           '6','5','132','3686','692','2130','1620','777','6356','666','290','404',
           '2713','2598','2423','38','8184','33','29','1606','62','1605','6336',
           '1674','1604','648','2920']  
city_id2 = ['110001','400001','560001','201301','380001','387315','202001','462001','392001','134101','600001','641001',
           '121001','122001','201001','500001','144001','302001','361001','700001','682001','141001','226001','250001',
           '440001','422001','411001','132101','800001','124001','123110','360001','131001','394101','680001',
           '390001','396001','140604','450001']

In [4]:
### Cities

#Ahamdabad=1692,380001, Anand=1771,387315, Aligarh=135,202001
# Noida = 134,201301 , bhopal=2987,462001,Bharuch=1822,392001,chd=769,134101,chennai=5732,600001,coimbantore=6105,641001,Fbd=6,121001
#gurgaon=5,122001,Ghaziabad=132,201001, Hyderabad=3686,500001, Jalandhar=692,144001, Jaipur=2130,302001,jamnagar=1620,361001
#kolkata=777,700001,Ludhiana=666,141001, lucknow=290,226001, merrut=404,250001, Nagpur=2713,440001, Nasik=2598,422001
#Pune=2423,411001, Panipat=38,132101, Patna=8184,800001, Rohtak=33,124001, Rewari=29,123110, Rajkot=1606,360001
#Sonipat=62,131001, Surat=1605,394101, Trichur=6336,680001, Vadodra=1674,390001, Vapi=1604,396001,
#Zirakpur=648,140604, Kochi=6356,682001, indore=2920,450001

In [5]:
response = requests.get(url_cars)#+city_id1[1])
print(response)

<Response [200]>

In [6]:
cars24 = BeautifulSoup(requests.get(url_cars+'city_id1[idx]+city_id2[idx]').content,'html5lib')

In [7]:
cars24 = BeautifulSoup(requests.get(url_cars).content,'html5lib')

### Creating a Function for data extract and append data.

In [8]:
def cars_extract(idx):
#     url_cars ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=2&pinId="
    cars24 = BeautifulSoup(requests.get(f"https://www.cars24.com/buy-used-car/?sort=P&storeCityId={city_id1[idx]}&pinId={city_id2[idx]}").content,'html5lib')
    r1 = cars24.find_all('div', attrs={'class':"col-4"})
    print('len r1',len(r1))
    car_name =[]
    km_driven=[]
    engine=[]
    emi=[]
    price=[]
    fuel = []
    for i in cars24.find_all('div', attrs={'class':"col-4"}):   #cars24.find_all('div', {'class':"col-4"})
        try:
            car_name.append(i.find('h2').text)
        except:
            car_name.append('n/a')
        try:
            km_driven.append(i.find('li').text)
        except:
            km_driven.append('n/a')
        try:
            engine.append(i.find('p').text)
        except:
            engine.append('n/a') 
        try:
            emi.append(i.find('strong').text)
        except:
            emi.append('n/a')
        try:
            price.append(i.find('div',{'class':"_7udZZ"}).text)
        except:
            price.append('n/a')
        try:
            fuel.append(i.find('ul',{'class':"bVR0c"}).text)#(strip=True, separator="|").split("|"))
        except:
            fuel.append('/')
    print(len(car_name),len(km_driven),len(engine),len(emi),len(price),len(fuel))
    car_city = pd.DataFrame({'car_name':car_name,'engine':engine,'km_driven':km_driven,'emi':emi,'price':price,'fuel':fuel})
    return car_city

In [9]:
car_delhi =cars_extract(0)
car_delhi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399","13,174 km1st OwnerPetrol"
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699","81,902 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799","56,227 km2nd OwnerPetrol"

In [10]:
car_mumbai =cars_extract(1)
car_mumbai.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2011 Maruti Alto K10,LXI Manual,"17,048 km","₹3,855/month","₹1,97,199","17,048 km1st OwnerPetrol"
1,2011 Maruti Wagon R 1.0,LXI Manual,"18,836 km","₹4,985/month","₹2,54,999","18,836 km1st OwnerPetrol"
2,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"20,419 km","₹5,308/month","₹2,71,499","20,419 km2nd OwnerPetrol"
3,2018 Renault Kwid,RXT 1.0 EASY-R AT OPTION Automatic,"6,239 km","₹7,902/month","₹4,04,199","6,239 km1st OwnerPetrol"
4,2019 Maruti Swift,VXI Manual,"17,040 km","₹12,901/month","₹6,59,899","17,040 km1st OwnerPetrol"

In [11]:
car_bang =cars_extract(2)
car_bang.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Ertiga,VXI SMART HYBRID Manual,"38,706 km","₹19,550/month","₹9,99,999","38,706 km1st OwnerPetrol"
1,2012 Maruti Alto,LXI Manual,"9,104 km","₹4,993/month","₹2,55,399","9,104 km1st OwnerPetrol"
2,2020 Maruti Ertiga,VXI SMART HYBRID Manual,"19,946 km","₹19,914/month","₹10,18,599","19,946 km2nd OwnerPetrol"
3,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"30,889 km","₹6,858/month","₹3,50,799","30,889 km1st OwnerPetrol"
4,2011 Volkswagen Polo,TRENDLINE 1.2L PETROL Manual,"17,570 km","₹7,476/month","₹3,82,399","17,570 km3rd OwnerPetrol"

In [12]:
car_noida =cars_extract(3)
car_noida.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,"13,265 km","₹11,050/month","₹5,65,199","13,265 km2nd OwnerPetrol"
1,2009 Hyundai i10,ERA 1.1 IRDE Manual,"44,327 km","₹3,904/month","₹1,99,699","44,327 km1st OwnerPetrol"
2,2021 KIA SONET,GTX PLUS 1.5D AT,"38,187 km","₹25,402/month","₹12,99,299","38,187 km1st OwnerDiesel"
3,2018 Honda Amaze,1.2 V CVT I VTEC Automatic,"53,849 km","₹13,677/month","₹6,99,599","53,849 km1st OwnerPetrol"
4,2016 Maruti Wagon R 1.0,VXI Manual,"26,951 km","₹6,919/month","₹3,53,899","26,951 km2nd OwnerPetrol"

In [13]:
car_ahamdabad =cars_extract(4)
car_ahamdabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,VXI Manual,"46,468 km","₹10,565/month","₹5,40,399","46,468 km2nd OwnerPetrol"
1,2020 Maruti New Wagon-R,VXI 1.0 Manual,"3,606 km","₹10,690/month","₹5,46,799","3,606 km1st OwnerPetrol"
2,2016 Volvo V40 Cross Country,T4 MOMENTUM,"21,635 km","₹26,999/month","₹13,80,999","21,635 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"37,731 km","₹10,878/month","₹5,56,399","37,731 km2nd OwnerPetrol"
4,2019 Maruti Ertiga,ZXI SMART HYBRID AT Automatic,"44,448 km","₹19,775/month","₹10,11,499","44,448 km1st OwnerPetrol"

In [14]:
car_anand =cars_extract(5)
car_anand.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,VXI Manual,"46,468 km","₹10,565/month","₹5,40,399","46,468 km2nd OwnerPetrol"
1,2020 Maruti New Wagon-R,VXI 1.0 Manual,"3,606 km","₹10,690/month","₹5,46,799","3,606 km1st OwnerPetrol"
2,2016 Volvo V40 Cross Country,T4 MOMENTUM,"21,635 km","₹26,999/month","₹13,80,999","21,635 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"37,731 km","₹10,878/month","₹5,56,399","37,731 km2nd OwnerPetrol"
4,2019 Maruti Ertiga,ZXI SMART HYBRID AT Automatic,"44,448 km","₹19,775/month","₹10,11,499","44,448 km1st OwnerPetrol"

In [15]:
car_aligarh =cars_extract(6)
car_aligarh.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,"13,265 km","₹11,050/month","₹5,65,199","13,265 km2nd OwnerPetrol"
1,2009 Hyundai i10,ERA 1.1 IRDE Manual,"44,327 km","₹3,904/month","₹1,99,699","44,327 km1st OwnerPetrol"
2,2021 KIA SONET,GTX PLUS 1.5D AT,"38,187 km","₹25,402/month","₹12,99,299","38,187 km1st OwnerDiesel"
3,2018 Honda Amaze,1.2 V CVT I VTEC Automatic,"53,849 km","₹13,677/month","₹6,99,599","53,849 km1st OwnerPetrol"
4,2016 Maruti Wagon R 1.0,VXI Manual,"26,951 km","₹6,919/month","₹3,53,899","26,951 km2nd OwnerPetrol"

In [16]:
car_Bhopal =cars_extract(7)
car_Bhopal.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2021 Maruti Swift,LXI Manual,"17,650 km","₹11,849/month","₹6,06,099","17,650 km1st OwnerPetrol"
1,2020 Hyundai Elite i20,1.2 MAGNA PLUS VTVT Manual,"7,583 km","₹12,848/month","₹6,57,199","7,583 km2nd OwnerPetrol"
2,2020 Tata Tiago,XE 1.2 REVOTRON Manual,"11,084 km","₹9,552/month","₹4,88,599","11,084 km1st OwnerPetrol"
3,2020 Maruti Eeco,5 STR WITH AC PLUSHTR Manual,"9,068 km","₹9,103/month","₹4,65,599","9,068 km1st OwnerPetrol"
4,2020 Renault Kwid,RXL Manual,"11,246 km","₹7,978/month","₹4,08,099","11,246 km1st OwnerPetrol"

In [17]:
car_Baruch =cars_extract(8)
car_Baruch.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,HIGHLINE1.2L PETROL Manual,"68,401 km","₹8,936/month","₹4,57,099","68,401 km2nd OwnerPetrol"
1,2018 Hyundai Eon,ERA PLUS Manual,"6,961 km","₹7,077/month","₹3,61,999","6,961 km1st OwnerPetrol"
2,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
3,2017 Mahindra XUV500,W10 FWD Manual,"63,306 km","₹20,197/month","₹10,33,099","63,306 km2nd OwnerDiesel"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [18]:
car_Chandigarh =cars_extract(9)
car_Chandigarh.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Ertiga,VXI SMART HYBRID AT Automatic,"12,489 km","₹18,254/month","₹9,33,699","12,489 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2021 Nissan MAGNITE,XL Turbo CVT,"20,233 km","₹15,959/month","₹8,16,299","20,233 km1st OwnerPetrol"
3,2018 Maruti Alto K10,VXI Manual,"8,108 km","₹7,476/month","₹3,82,399","8,108 km1st OwnerPetrol"
4,2021 Nissan MAGNITE,XV MT PETROL,"16,550 km","₹14,295/month","₹7,31,199","16,550 km1st OwnerPetrol"

In [19]:
car_Chennai =cars_extract(10)
car_Chennai.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2014 Maruti Alto K10,VXI Manual,"45,311 km","₹4,901/month","₹2,50,699","45,311 km2nd OwnerPetrol"
1,2018 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"22,731 km","₹10,115/month","₹5,17,399","22,731 km1st OwnerPetrol"
2,2014 Maruti Ritz,ZXI Manual,"28,830 km","₹7,875/month","₹4,02,799","28,830 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"28,529 km","₹12,891/month","₹6,59,399","28,529 km1st OwnerPetrol"
4,2019 Maruti Swift,VDI Manual,"85,019 km","₹13,116/month","₹6,70,899","85,019 km2nd OwnerDiesel"

In [20]:
car_Coimbantor =cars_extract(11)
car_Coimbantor.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2017 Maruti Swift,VXI Manual,"38,901 km","₹10,397/month","₹5,31,799","38,901 km1st OwnerPetrol"
1,2019 Maruti Swift,VXI AMT Automatic,"32,917 km","₹12,434/month","₹6,35,999","32,917 km1st OwnerPetrol"
2,2016 Honda Amaze,1.2 VXMT I VTEC Manual,"32,373 km","₹11,544/month","₹5,90,499","32,373 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"18,466 km","₹13,271/month","₹6,78,799","18,466 km1st OwnerPetrol"
4,2018 Hyundai Verna,1.6 SX VTVT Manual,"26,719 km","₹17,493/month","₹8,94,799","26,719 km2nd OwnerPetrol"

In [21]:
car_Fbd =cars_extract(12)
car_Fbd.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,VXI AMT Automatic,"45,067 km","₹12,238/month","₹6,25,999","45,067 km2nd OwnerPetrol"
1,2016 Maruti Ciaz,VXI PLUS Manual,"14,253 km","₹12,895/month","₹6,59,599","14,253 km1st OwnerPetrol"
2,2018 Maruti Wagon R 1.0,VXI AMT Automatic,"15,854 km","₹9,988/month","₹5,10,899","15,854 km1st OwnerPetrol"
3,2019 MG HECTOR,SHARP DCT PETROL Automatic,"44,846 km","₹31,460/month","₹16,09,199","44,846 km1st OwnerPetrol"
4,2018 Maruti Wagon R 1.0,VXI AMT Automatic,"14,520 km","₹9,930/month","₹5,07,899","14,520 km1st OwnerPetrol"

In [22]:
car_Gurgaon =cars_extract(13)
car_Gurgaon.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Jeep Compass,1.4 LONGITUDE (O) AT Automatic,"23,327 km","₹38,960/month","₹19,92,799","23,327 km1st OwnerPetrol"
1,2020 Maruti Baleno,SIGMA 1.2 K12 Manual,"15,936 km","₹11,800/month","₹6,03,599","15,936 km1st OwnerPetrol"
2,2010 Maruti Swift,VXI Manual,"21,005 km","₹5,494/month","₹2,80,999","21,005 km1st OwnerPetrol"
3,2019 Toyota YARIS,J CVT Automatic,"13,618 km","₹16,088/month","₹8,22,899","13,618 km1st OwnerPetrol"
4,2018 Volkswagen TIGUAN,HIGHLINE A/T Automatic,"74,860 km","₹41,876/month","₹21,41,999","74,860 km1st OwnerDiesel"

In [23]:
car_Gaziabad =cars_extract(14)
car_Gaziabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2022 Maruti Swift,LXI Manual,887 km,"₹11,951/month","₹6,11,299",887 km1st OwnerPetrol
1,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"5,234 km","₹11,951/month","₹6,11,299","5,234 km1st OwnerPetrol"
4,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"

In [24]:
car_Hydrabad =cars_extract(15)
car_Hydrabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Hyundai Santro Xing,GL Manual,"30,754 km","₹4,577/month","₹2,34,099","30,754 km1st OwnerPetrol"
1,2010 Hyundai i10,ERA 1.1 IRDE Manual,"51,606 km","₹4,819/month","₹2,46,499","51,606 km2nd OwnerPetrol"
2,2010 Honda City,S MT PETROL Manual,"71,117 km","₹8,985/month","₹4,59,599","71,117 km2nd OwnerPetrol"
3,2013 Maruti Swift Dzire,VDI BS IV Manual,"47,478 km","₹9,591/month","₹4,90,599","47,478 km2nd OwnerDiesel"
4,2021 Nissan MAGNITE,XV PRIMIUM MT,"22,982 km","₹17,126/month","₹8,75,999","22,982 km1st OwnerPetrol"

In [25]:
car_Jalandhar =cars_extract(16)
car_Jalandhar.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2021 Maruti Baleno,ZETA 1.2 K12 Manual,"4,153 km","₹16,199/month","₹8,28,599","4,153 km1st OwnerPetrol"
1,2016 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"27,275 km","₹7,953/month","₹4,06,799","27,275 km2nd OwnerPetrol"
2,2020 Hyundai VENUE,SX 1.0 GDI IMT Manual,"26,430 km","₹19,709/month","₹10,08,099","26,430 km1st OwnerPetrol"
3,2021 Mahindra Thar,LX D 4*4 MT HT Manual,"9,034 km","₹30,850/month","₹15,77,999","9,034 km1st OwnerDiesel"
4,2021 Hyundai GRAND I10 NIOS,MAGNA 1.2 MT Manual,"9,419 km","₹12,622/month","₹6,45,599","9,419 km1st OwnerPetrol"

In [26]:
car_Jaipur =cars_extract(17)
car_Jaipur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2018 Maruti Alto K10,VXI Manual,"30,367 km","₹6,751/month","₹3,45,299","30,367 km1st OwnerPetrol"
1,2018 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,"90,412 km","₹9,523/month","₹4,87,099","90,412 km1st OwnerPetrol"
2,2019 Renault Kwid,RXL Manual,"12,366 km","₹8,657/month","₹4,42,799","12,366 km1st OwnerPetrol"
3,2019 Renault Kwid,RXT Opt Manual,"44,112 km","₹7,093/month","₹3,62,799","44,112 km1st OwnerPetrol"
4,2018 Maruti Dzire,VXI Manual,"7,845 km","₹13,695/month","₹7,00,499","7,845 km1st OwnerPetrol"

In [27]:
car_Jamnagar =cars_extract(18)
car_Jamnagar.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Hyundai Elite i20,SPORTZ 1.2 Manual,"39,077 km","₹10,057/month","₹5,14,399","39,077 km1st OwnerPetrol"
1,2020 Hyundai AURA,SX+ AT 1.2CRDI Automatic,"12,464 km","₹17,777/month","₹9,09,299","12,464 km1st OwnerDiesel"
2,2018 Maruti Alto 800,LXI Manual,"12,028 km","₹5,750/month","₹2,94,099","12,028 km2nd OwnerPetrol"
3,2017 Maruti Baleno,DELTA 1.2 K12 Manual,"9,200 km","₹11,259/month","₹5,75,899","9,200 km1st OwnerPetrol"
4,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"25,815 km","₹8,739/month","₹4,46,999","25,815 km1st OwnerPetrol"

In [28]:
car_Kolkata =cars_extract(19)
car_Kolkata.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2018 Maruti Swift,VXI Manual,"37,030 km","₹10,102/month","₹5,16,699","37,030 km1st OwnerPetrol"
1,2020 Ford Ecosport,1.5 TREND TDCI Manual,"12,860 km","₹15,585/month","₹7,97,199","12,860 km1st OwnerDiesel"
2,2020 Maruti Swift,VXI Manual,"2,944 km","₹12,633/month","₹6,46,199","2,944 km1st OwnerPetrol"
3,2015 Hyundai i10,SPORTZ 1.1 IRDE2 Manual,"32,506 km","₹5,423/month","₹2,77,399","32,506 km2nd OwnerPetrol"
4,2018 Maruti Swift,VXI Manual,"49,894 km","₹9,625/month","₹4,92,299","49,894 km1st OwnerPetrol"

In [29]:
car_Kochi =cars_extract(20)
car_Kochi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Maruti Alto,LX Manual,"57,120 km","₹2,907/month","₹1,48,699","57,120 km3rd OwnerPetrol"
1,2009 Hyundai i10,MAGNA 1.2 Manual,"62,164 km","₹3,904/month","₹1,99,699","62,164 km2nd OwnerPetrol"
2,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,782 km","₹8,543/month","₹4,36,999","21,782 km1st OwnerPetrol"
3,2008 Hyundai i10,SPORTZ 1.2 Manual,"23,872 km","₹4,667/month","₹2,38,699","23,872 km2nd OwnerPetrol"
4,2018 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,"16,266 km","₹8,843/month","₹4,52,299","16,266 km2nd OwnerPetrol"

In [30]:
car_Ludhiana =cars_extract(21)
car_Ludhiana.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Ertiga,VXI SMART HYBRID AT Automatic,"12,489 km","₹18,254/month","₹9,33,699","12,489 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2021 Nissan MAGNITE,XL Turbo CVT,"20,233 km","₹15,959/month","₹8,16,299","20,233 km1st OwnerPetrol"
3,2018 Maruti Alto K10,VXI Manual,"8,108 km","₹7,476/month","₹3,82,399","8,108 km1st OwnerPetrol"
4,2021 Nissan MAGNITE,XV MT PETROL,"16,550 km","₹14,295/month","₹7,31,199","16,550 km1st OwnerPetrol"

In [31]:
car_Lucknow =cars_extract(22)
car_Lucknow.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,VXI Manual,"57,330 km","₹11,466/month","₹5,86,499","57,330 km1st OwnerPetrol"
1,2016 Hyundai Elite i20,MAGNA 1.2 Manual,"73,677 km","₹8,925/month","₹4,56,499","73,677 km1st OwnerPetrol"
2,2020 Maruti Swift,VXI Manual,"22,937 km","₹12,424/month","₹6,35,499","22,937 km2nd OwnerPetrol"
3,2019 Mahindra XUV500,W7 FWD Manual,"83,705 km","₹20,796/month","₹10,63,699","83,705 km2nd OwnerDiesel"
4,2019 Volkswagen Polo,HIGHLINE PLUS 1.5L DIESEL Manual,"57,307 km","₹12,755/month","₹6,52,399","57,307 km1st OwnerDiesel"

In [32]:
car_Merrut =cars_extract(23)
car_Merrut.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Hyundai Xcent,S 1.2 Manual,"35,736 km","₹8,907/month","₹4,55,599","35,736 km1st OwnerPetrol"
1,2013 Hyundai i20,ERA 1.4 CRDI Manual,"30,354 km","₹5,988/month","₹3,06,299","30,354 km1st OwnerDiesel"
2,2016 Hyundai Elite i20,ERA 1.2 Manual,"59,001 km","₹9,282/month","₹4,74,799","59,001 km2nd OwnerPetrol"
3,2014 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"17,239 km","₹7,718/month","₹3,94,799","17,239 km2nd OwnerPetrol"
4,2020 KIA SELTOS,HTK PLUS AT 1.5 DIESEL Automatic,"33,981 km","₹27,435/month","₹14,03,299","33,981 km2nd OwnerDiesel"

In [33]:
car_Nagpur =cars_extract(24)
car_Nagpur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2017 Renault Kwid,RXL Manual,"66,912 km","₹5,842/month","₹2,98,799","66,912 km1st OwnerPetrol"
1,2016 Maruti Alto 800,LXI Manual,"49,620 km","₹4,983/month","₹2,54,899","49,620 km2nd OwnerPetrol"
2,2016 Maruti Alto 800,LXI Manual,"23,101 km","₹5,830/month","₹2,98,199","23,101 km1st OwnerPetrol"
3,2018 Hyundai Elite i20,Magna Executive 1.2 Manual,"7,097 km","₹11,470/month","₹5,86,699","7,097 km2nd OwnerPetrol"
4,2018 Ford Ecosport,1.5 TITANIUM TI VCT AT Automatic,"39,153 km","₹13,976/month","₹7,14,899","39,153 km1st OwnerPetrol"

In [34]:
car_Nasik =cars_extract(25)
car_Nasik.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"12,430 km","₹8,774/month","₹4,48,799","12,430 km2nd OwnerPetrol"
1,2017 Maruti Baleno,DELTA 1.2 K12 Manual,"37,786 km","₹10,819/month","₹5,53,399","37,786 km1st OwnerPetrol"
2,2014 Maruti Swift Dzire,VXI 1.2 BS IV Manual,"56,838 km","₹8,715/month","₹4,45,799","56,838 km1st OwnerPetrol"
3,2017 Maruti Swift,VXI Manual,"44,482 km","₹10,203/month","₹5,21,899","44,482 km2nd OwnerPetrol"
4,2021 Hyundai Creta,S CRDI Manual,"18,185 km","₹27,460/month","₹14,04,599","18,185 km1st OwnerDiesel"

In [35]:
car_Pune =cars_extract(26)
car_Pune.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2012 Maruti Wagon R 1.0,LXI Manual,"14,030 km","₹5,771/month","₹2,95,199","14,030 km1st OwnerPetrol"
1,2014 Maruti Swift Dzire,ZXI 1.2 BS IV Manual,"32,520 km","₹9,149/month","₹4,67,999","32,520 km1st OwnerPetrol"
2,2019 Maruti Ertiga,ZXI SMART HYBRID AT Automatic,"29,969 km","₹21,892/month","₹11,19,799","29,969 km1st OwnerPetrol"
3,2021 Nissan MAGNITE,XL Turbo CVT,"16,264 km","₹16,921/month","₹8,65,499","16,264 km1st OwnerPetrol"
4,2016 Maruti Swift,VXI Manual,"14,907 km","₹9,861/month","₹5,04,399","14,907 km2nd OwnerPetrol"

In [36]:
car_Panipat =cars_extract(27)
car_Panipat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2022 Maruti Swift,LXI Manual,887 km,"₹11,951/month","₹6,11,299",887 km1st OwnerPetrol
1,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"5,234 km","₹11,951/month","₹6,11,299","5,234 km1st OwnerPetrol"
4,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"

In [37]:
car_Patna =cars_extract(28)
car_Patna.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Maruti Swift,VXI Manual,"14,340 km","₹8,538/month","₹4,36,699","14,340 km1st OwnerPetrol"
1,2020 MG HECTOR,SMART DCT PETROL Automatic,"6,770 km","₹29,304/month","₹14,98,899","6,770 km1st OwnerPetrol"
2,2020 Renault TRIBER,1.0 RXZ Manual,"46,529 km","₹10,471/month","₹5,35,599","46,529 km1st OwnerPetrol"
3,2013 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"52,068 km","₹5,173/month","₹2,64,599","52,068 km2nd OwnerPetrol"
4,2020 Maruti New Wagon-R,1.0 VXI (O) Manual,"7,106 km","₹10,561/month","₹5,40,199","7,106 km1st OwnerPetrol"

In [38]:
car_Rohtak =cars_extract(29)
car_Lucknow.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,VXI Manual,"57,330 km","₹11,466/month","₹5,86,499","57,330 km1st OwnerPetrol"
1,2016 Hyundai Elite i20,MAGNA 1.2 Manual,"73,677 km","₹8,925/month","₹4,56,499","73,677 km1st OwnerPetrol"
2,2020 Maruti Swift,VXI Manual,"22,937 km","₹12,424/month","₹6,35,499","22,937 km2nd OwnerPetrol"
3,2019 Mahindra XUV500,W7 FWD Manual,"83,705 km","₹20,796/month","₹10,63,699","83,705 km2nd OwnerDiesel"
4,2019 Volkswagen Polo,HIGHLINE PLUS 1.5L DIESEL Manual,"57,307 km","₹12,755/month","₹6,52,399","57,307 km1st OwnerDiesel"

In [39]:
car_Rewari =cars_extract(30)
car_Rewari.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2022 Maruti Swift,LXI Manual,887 km,"₹11,951/month","₹6,11,299",887 km1st OwnerPetrol
1,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"5,234 km","₹11,951/month","₹6,11,299","5,234 km1st OwnerPetrol"
4,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"

In [40]:
car_Rajkot =cars_extract(31)
car_Rajkot.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Hyundai Elite i20,SPORTZ 1.2 Manual,"39,077 km","₹10,057/month","₹5,14,399","39,077 km1st OwnerPetrol"
1,2020 Hyundai AURA,SX+ AT 1.2CRDI Automatic,"12,464 km","₹17,777/month","₹9,09,299","12,464 km1st OwnerDiesel"
2,2018 Maruti Alto 800,LXI Manual,"12,028 km","₹5,750/month","₹2,94,099","12,028 km2nd OwnerPetrol"
3,2017 Maruti Baleno,DELTA 1.2 K12 Manual,"9,200 km","₹11,259/month","₹5,75,899","9,200 km1st OwnerPetrol"
4,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"25,815 km","₹8,739/month","₹4,46,999","25,815 km1st OwnerPetrol"

In [41]:
car_Sonipat =cars_extract(32)
car_Sonipat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2022 Maruti Swift,LXI Manual,887 km,"₹11,951/month","₹6,11,299",887 km1st OwnerPetrol
1,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"5,234 km","₹11,951/month","₹6,11,299","5,234 km1st OwnerPetrol"
4,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"

In [42]:
car_Surat =cars_extract(33)
car_Surat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,HIGHLINE1.2L PETROL Manual,"68,401 km","₹8,936/month","₹4,57,099","68,401 km2nd OwnerPetrol"
1,2018 Hyundai Eon,ERA PLUS Manual,"6,961 km","₹7,077/month","₹3,61,999","6,961 km1st OwnerPetrol"
2,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
3,2017 Mahindra XUV500,W10 FWD Manual,"63,306 km","₹20,197/month","₹10,33,099","63,306 km2nd OwnerDiesel"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [43]:
car_Trichur =cars_extract(34)
car_Trichur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Maruti Alto,LX Manual,"57,120 km","₹2,907/month","₹1,48,699","57,120 km3rd OwnerPetrol"
1,2009 Hyundai i10,MAGNA 1.2 Manual,"62,164 km","₹3,904/month","₹1,99,699","62,164 km2nd OwnerPetrol"
2,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,782 km","₹8,543/month","₹4,36,999","21,782 km1st OwnerPetrol"
3,2008 Hyundai i10,SPORTZ 1.2 Manual,"23,872 km","₹4,667/month","₹2,38,699","23,872 km2nd OwnerPetrol"
4,2018 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,"16,266 km","₹8,843/month","₹4,52,299","16,266 km2nd OwnerPetrol"

In [44]:
car_Vadodra =cars_extract(35)
car_Vadodra.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,VXI Manual,"46,468 km","₹10,565/month","₹5,40,399","46,468 km2nd OwnerPetrol"
1,2020 Maruti New Wagon-R,VXI 1.0 Manual,"3,606 km","₹10,690/month","₹5,46,799","3,606 km1st OwnerPetrol"
2,2016 Volvo V40 Cross Country,T4 MOMENTUM,"21,635 km","₹26,999/month","₹13,80,999","21,635 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"37,731 km","₹10,878/month","₹5,56,399","37,731 km2nd OwnerPetrol"
4,2019 Maruti Ertiga,ZXI SMART HYBRID AT Automatic,"44,448 km","₹19,775/month","₹10,11,499","44,448 km1st OwnerPetrol"

In [45]:
car_Vapi =cars_extract(36)
car_Vapi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,HIGHLINE1.2L PETROL Manual,"68,401 km","₹8,936/month","₹4,57,099","68,401 km2nd OwnerPetrol"
1,2018 Hyundai Eon,ERA PLUS Manual,"6,961 km","₹7,077/month","₹3,61,999","6,961 km1st OwnerPetrol"
2,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
3,2017 Mahindra XUV500,W10 FWD Manual,"63,306 km","₹20,197/month","₹10,33,099","63,306 km2nd OwnerDiesel"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [46]:
car_Zirakpur =cars_extract(37)
car_Zirakpur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Ertiga,VXI SMART HYBRID AT Automatic,"12,489 km","₹18,254/month","₹9,33,699","12,489 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2021 Nissan MAGNITE,XL Turbo CVT,"20,233 km","₹15,959/month","₹8,16,299","20,233 km1st OwnerPetrol"
3,2018 Maruti Alto K10,VXI Manual,"8,108 km","₹7,476/month","₹3,82,399","8,108 km1st OwnerPetrol"
4,2021 Nissan MAGNITE,XV MT PETROL,"16,550 km","₹14,295/month","₹7,31,199","16,550 km1st OwnerPetrol"

In [47]:
car_Indore =cars_extract(38)
car_Indore.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Hyundai VENUE,1.0 TURBO GDI SX+ AT Automatic,"7,721 km","₹21,793/month","₹11,14,699","7,721 km1st OwnerPetrol"
1,2021 Maruti Swift,VXI Manual,"15,905 km","₹13,982/month","₹7,15,199","15,905 km1st OwnerPetrol"
2,2016 Hyundai Eon,ERA PLUS Manual,"21,813 km","₹5,521/month","₹2,82,399","21,813 km2nd OwnerPetrol"
3,2020 Mahindra Scorpio,S9 Manual,"16,382 km","₹31,036/month","₹15,87,499","16,382 km1st OwnerDiesel"
4,2021 Maruti Swift,ZXI Manual,"20,624 km","₹15,146/month","₹7,74,699","20,624 km1st OwnerPetrol"

#### Concat of DataFrame's

In [48]:
car24 = pd.concat([car_delhi,car_mumbai,car_mumbai,car_bang,car_noida,car_ahamdabad,car_anand,car_aligarh,car_Bhopal,car_Baruch,
                  car_Chandigarh,car_Chennai,car_Coimbantor,car_Fbd,car_Gurgaon,car_Gaziabad,car_Hydrabad,car_Jalandhar,car_Jaipur,
                  car_Jamnagar,car_Kolkata,car_Kochi,car_Ludhiana,car_Lucknow,car_Merrut,car_Nagpur,car_Nasik,car_Pune,
                  car_Panipat,car_Patna,car_Rohtak,car_Rewari,car_Rajkot,car_Sonipat,car_Surat,car_Trichur,
                  car_Vadodra,car_Vapi,car_Zirakpur,car_Indore])

In [49]:
car24

,car_name,engine,km_driven,emi,price,fuel
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399","13,174 km1st OwnerPetrol"
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699","81,902 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol"
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799","56,227 km2nd OwnerPetrol"
...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099","21,124 km1st OwnerPetrol"
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399","3,729 km1st OwnerPetrol"
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099","21,035 km1st OwnerPetrol"
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599","13,232 km2nd OwnerPetrol"
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol"

## Data Handling

### Here we handle data and sorted data on our reccomendations base and sorted it and select our important features after handling data columns.

In [50]:
car24[['mnf_year', 'name']] = car24['car_name'].str.split(' ', 1, expand=True)

In [51]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399","13,174 km1st OwnerPetrol",2021,Maruti Swift
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699","81,902 km1st OwnerPetrol",2019,Hyundai Verna
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol",2019,Maruti Swift
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol",2020,Maruti Swift
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799","56,227 km2nd OwnerPetrol",2011,Hyundai i10
...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099","21,124 km1st OwnerPetrol",2017,Hyundai Grand i10
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399","3,729 km1st OwnerPetrol",2021,Maruti Alto
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099","21,035 km1st OwnerPetrol",2017,Hyundai Grand i10
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20

In [52]:
car24[['company', 'car']] = car24['name'].str.split(' ', 1, expand=True)

In [53]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399","13,174 km1st OwnerPetrol",2021,Maruti Swift,Maruti,Swift
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699","81,902 km1st OwnerPetrol",2019,Hyundai Verna,Hyundai,Verna
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol",2019,Maruti Swift,Maruti,Swift
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol",2020,Maruti Swift,Maruti,Swift
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799","56,227 km2nd OwnerPetrol",2011,Hyundai i10,Hyundai,i10
...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099","21,124 km1st OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399","3,729 km1st OwnerPetrol",2021,Maruti Alto,Maruti,Alto
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099","21,035 km1st OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20,Hyundai,Elite i20

In [54]:
car24[['km_drive', 'Owner']] = car24['fuel'].str.split('km', 1, expand=True)

In [55]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399","13,174 km1st OwnerPetrol",2021,Maruti Swift,Maruti,Swift,"13,174",1st OwnerPetrol
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699","81,902 km1st OwnerPetrol",2019,Hyundai Verna,Hyundai,Verna,"81,902",1st OwnerPetrol
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599","7,172 km1st OwnerPetrol",2019,Maruti Swift,Maruti,Swift,"7,172",1st OwnerPetrol
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol",2020,Maruti Swift,Maruti,Swift,"10,806",1st OwnerPetrol
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799","56,227 km2nd OwnerPetrol",2011,Hyundai i10,Hyundai,i10,"56,227",2nd OwnerPetrol
...,...,...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099","21,124 km1st OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10,"21,124",1st OwnerPetrol
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399","3,729 km1st OwnerPetrol",2021,Maruti Alto,Maruti,Alto,"3,729",1st OwnerPetrol
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099","21,035 km1st OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10,"21,035",1st OwnerPetrol
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol

In [56]:
car24[[ 'Own','fuel']] = car24['Owner'].str.split(' ', 1, expand=True)

In [57]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399",OwnerPetrol,2021,Maruti Swift,Maruti,Swift,"13,174",1st OwnerPetrol,1st
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699",OwnerPetrol,2019,Hyundai Verna,Hyundai,Verna,"81,902",1st OwnerPetrol,1st
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599",OwnerPetrol,2019,Maruti Swift,Maruti,Swift,"7,172",1st OwnerPetrol,1st
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499",OwnerPetrol,2020,Maruti Swift,Maruti,Swift,"10,806",1st OwnerPetrol,1st
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799",OwnerPetrol,2011,Hyundai i10,Hyundai,i10,"56,227",2nd OwnerPetrol,2nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099",OwnerPetrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,124",1st OwnerPetrol,1st
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399",OwnerPetrol,2021,Maruti Alto,Maruti,Alto,"3,729",1st OwnerPetrol,1st
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099",OwnerPetrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,035",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599",OwnerPetrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",OwnerPetrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd

In [58]:
car24['fuel'].replace('OwnerPetrol', 'Petrol', inplace=True)

In [59]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399",Petrol,2021,Maruti Swift,Maruti,Swift,"13,174",1st OwnerPetrol,1st
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699",Petrol,2019,Hyundai Verna,Hyundai,Verna,"81,902",1st OwnerPetrol,1st
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599",Petrol,2019,Maruti Swift,Maruti,Swift,"7,172",1st OwnerPetrol,1st
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499",Petrol,2020,Maruti Swift,Maruti,Swift,"10,806",1st OwnerPetrol,1st
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799",Petrol,2011,Hyundai i10,Hyundai,i10,"56,227",2nd OwnerPetrol,2nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,124",1st OwnerPetrol,1st
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399",Petrol,2021,Maruti Alto,Maruti,Alto,"3,729",1st OwnerPetrol,1st
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,035",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd

In [60]:
car24['fuel'].replace('OwnerDiesel', 'Diesel', inplace=True)

In [61]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399",Petrol,2021,Maruti Swift,Maruti,Swift,"13,174",1st OwnerPetrol,1st
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699",Petrol,2019,Hyundai Verna,Hyundai,Verna,"81,902",1st OwnerPetrol,1st
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599",Petrol,2019,Maruti Swift,Maruti,Swift,"7,172",1st OwnerPetrol,1st
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499",Petrol,2020,Maruti Swift,Maruti,Swift,"10,806",1st OwnerPetrol,1st
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799",Petrol,2011,Hyundai i10,Hyundai,i10,"56,227",2nd OwnerPetrol,2nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,124",1st OwnerPetrol,1st
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399",Petrol,2021,Maruti Alto,Maruti,Alto,"3,729",1st OwnerPetrol,1st
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,035",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd

In [62]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2021 Maruti Swift,LXI Manual,"13,174 km","₹11,073/month","₹5,66,399",Petrol,2021,Maruti Swift,Maruti,Swift,"13,174",1st OwnerPetrol,1st
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"81,902 km","₹19,192/month","₹9,81,699",Petrol,2019,Hyundai Verna,Hyundai,Verna,"81,902",1st OwnerPetrol,1st
2,2019 Maruti Swift,LXI Manual,"7,172 km","₹11,058/month","₹5,65,599",Petrol,2019,Maruti Swift,Maruti,Swift,"7,172",1st OwnerPetrol,1st
3,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499",Petrol,2020,Maruti Swift,Maruti,Swift,"10,806",1st OwnerPetrol,1st
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"56,227 km","₹4,434/month","₹2,26,799",Petrol,2011,Hyundai i10,Hyundai,i10,"56,227",2nd OwnerPetrol,2nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,124 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,124",1st OwnerPetrol,1st
17,2021 Maruti Alto,LXI Manual,"3,729 km","₹8,414/month","₹4,30,399",Petrol,2021,Maruti Alto,Maruti,Alto,"3,729",1st OwnerPetrol,1st
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"21,035 km","₹9,308/month","₹4,76,099",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"21,035",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"13,232 km","₹10,197/month","₹5,21,599",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd

In [63]:
car24.drop(['name','km_driven','Owner'], axis=1, inplace=True)

In [64]:
car24

,car_name,engine,emi,price,fuel,mnf_year,company,car,km_drive,Own
0,2021 Maruti Swift,LXI Manual,"₹11,073/month","₹5,66,399",Petrol,2021,Maruti,Swift,"13,174",1st
1,2019 Hyundai Verna,1.6 SX VTVT (O) Manual,"₹19,192/month","₹9,81,699",Petrol,2019,Hyundai,Verna,"81,902",1st
2,2019 Maruti Swift,LXI Manual,"₹11,058/month","₹5,65,599",Petrol,2019,Maruti,Swift,"7,172",1st
3,2020 Maruti Swift,LXI Manual,"₹11,583/month","₹5,92,499",Petrol,2020,Maruti,Swift,"10,806",1st
4,2011 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"₹4,434/month","₹2,26,799",Petrol,2011,Hyundai,i10,"56,227",2nd
...,...,...,...,...,...,...,...,...,...,...
16,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,124",1st
17,2021 Maruti Alto,LXI Manual,"₹8,414/month","₹4,30,399",Petrol,2021,Maruti,Alto,"3,729",1st
18,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,035",1st
19,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"₹10,197/month","₹5,21,599",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd

In [65]:
car24.drop(['car_name'], axis=1, inplace=True)

In [66]:
car24

,engine,emi,price,fuel,mnf_year,company,car,km_drive,Own
0,LXI Manual,"₹11,073/month","₹5,66,399",Petrol,2021,Maruti,Swift,"13,174",1st
1,1.6 SX VTVT (O) Manual,"₹19,192/month","₹9,81,699",Petrol,2019,Hyundai,Verna,"81,902",1st
2,LXI Manual,"₹11,058/month","₹5,65,599",Petrol,2019,Maruti,Swift,"7,172",1st
3,LXI Manual,"₹11,583/month","₹5,92,499",Petrol,2020,Maruti,Swift,"10,806",1st
4,SPORTZ 1.2 KAPPA2 Manual,"₹4,434/month","₹2,26,799",Petrol,2011,Hyundai,i10,"56,227",2nd
...,...,...,...,...,...,...,...,...,...
16,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,124",1st
17,LXI Manual,"₹8,414/month","₹4,30,399",Petrol,2021,Maruti,Alto,"3,729",1st
18,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,035",1st
19,ASTA 1.2 KAPPA VTVT Manual,"₹10,197/month","₹5,21,599",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd

In [67]:
car24.loc[:, ["car","company","mnf_year","engine","km_drive","fuel","Own","emi","price"]]

,car,company,mnf_year,engine,km_drive,fuel,Own,emi,price
0,Swift,Maruti,2021,LXI Manual,"13,174",Petrol,1st,"₹11,073/month","₹5,66,399"
1,Verna,Hyundai,2019,1.6 SX VTVT (O) Manual,"81,902",Petrol,1st,"₹19,192/month","₹9,81,699"
2,Swift,Maruti,2019,LXI Manual,"7,172",Petrol,1st,"₹11,058/month","₹5,65,599"
3,Swift,Maruti,2020,LXI Manual,"10,806",Petrol,1st,"₹11,583/month","₹5,92,499"
4,i10,Hyundai,2011,SPORTZ 1.2 KAPPA2 Manual,"56,227",Petrol,2nd,"₹4,434/month","₹2,26,799"
...,...,...,...,...,...,...,...,...,...
16,Grand i10,Hyundai,2017,MAGNA 1.2 KAPPA VTVT Manual,"21,124",Petrol,1st,"₹9,308/month","₹4,76,099"
17,Alto,Maruti,2021,LXI Manual,"3,729",Petrol,1st,"₹8,414/month","₹4,30,399"
18,Grand i10,Hyundai,2017,MAGNA 1.2 KAPPA VTVT Manual,"21,035",Petrol,1st,"₹9,308/month","₹4,76,099"
19,Grand i10,Hyundai,2017,ASTA 1.2 KAPPA VTVT Manual,"13,232",Petrol,2nd,"₹10,197/month","₹5,21,599"
20,Elite i20,Hyundai,2018,SPORTZ 1.2 Manual,"19,611",Petrol,2nd,"₹11,814/month","₹6,04,299"

In [68]:
car24.rename(columns = {'car':'Car_Name', 'company':'Company',
                              'engine':'Engine_Version','fuel':'Fuel_Type','emi':'Emi','price':'Price','Own':'Owner'}, inplace = True)

In [69]:
car24.loc[:,["Car_Name","Company","mnf_year","Engine_Version","km_drive","Fuel_Type","Owner","Emi","Price"]]

,Car_Name,Company,mnf_year,Engine_Version,km_drive,Fuel_Type,Owner,Emi,Price
0,Swift,Maruti,2021,LXI Manual,"13,174",Petrol,1st,"₹11,073/month","₹5,66,399"
1,Verna,Hyundai,2019,1.6 SX VTVT (O) Manual,"81,902",Petrol,1st,"₹19,192/month","₹9,81,699"
2,Swift,Maruti,2019,LXI Manual,"7,172",Petrol,1st,"₹11,058/month","₹5,65,599"
3,Swift,Maruti,2020,LXI Manual,"10,806",Petrol,1st,"₹11,583/month","₹5,92,499"
4,i10,Hyundai,2011,SPORTZ 1.2 KAPPA2 Manual,"56,227",Petrol,2nd,"₹4,434/month","₹2,26,799"
...,...,...,...,...,...,...,...,...,...
16,Grand i10,Hyundai,2017,MAGNA 1.2 KAPPA VTVT Manual,"21,124",Petrol,1st,"₹9,308/month","₹4,76,099"
17,Alto,Maruti,2021,LXI Manual,"3,729",Petrol,1st,"₹8,414/month","₹4,30,399"
18,Grand i10,Hyundai,2017,MAGNA 1.2 KAPPA VTVT Manual,"21,035",Petrol,1st,"₹9,308/month","₹4,76,099"
19,Grand i10,Hyundai,2017,ASTA 1.2 KAPPA VTVT Manual,"13,232",Petrol,2nd,"₹10,197/month","₹5,21,599"
20,Elite i20,Hyundai,2018,SPORTZ 1.2 Manual,"19,611",Petrol,2nd,"₹11,814/month","₹6,04,299"

In [70]:
car24

,Engine_Version,Emi,Price,Fuel_Type,mnf_year,Company,Car_Name,km_drive,Owner
0,LXI Manual,"₹11,073/month","₹5,66,399",Petrol,2021,Maruti,Swift,"13,174",1st
1,1.6 SX VTVT (O) Manual,"₹19,192/month","₹9,81,699",Petrol,2019,Hyundai,Verna,"81,902",1st
2,LXI Manual,"₹11,058/month","₹5,65,599",Petrol,2019,Maruti,Swift,"7,172",1st
3,LXI Manual,"₹11,583/month","₹5,92,499",Petrol,2020,Maruti,Swift,"10,806",1st
4,SPORTZ 1.2 KAPPA2 Manual,"₹4,434/month","₹2,26,799",Petrol,2011,Hyundai,i10,"56,227",2nd
...,...,...,...,...,...,...,...,...,...
16,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,124",1st
17,LXI Manual,"₹8,414/month","₹4,30,399",Petrol,2021,Maruti,Alto,"3,729",1st
18,MAGNA 1.2 KAPPA VTVT Manual,"₹9,308/month","₹4,76,099",Petrol,2017,Hyundai,Grand i10,"21,035",1st
19,ASTA 1.2 KAPPA VTVT Manual,"₹10,197/month","₹5,21,599",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd

### Transform data into csv File.

In [ ]:
car24.to_csv('car24_data.csv')